/* ユーザ */
.user_icon_header {
  padding: 0px;
}

.user_icon {
  /*float: left;*/
}

.user_name, .user_value {
  display: block;
  font-size: 40px;
}
.user_value {
  color:#FF0461;
}

/* マッチング */
#value_box {
  padding-top: 40px;
  padding-left:40px;
  padding-right:40px;
  padding-bottom: 40px;
  border: 1px black;
  border-radius: 20px;
  background-color: white;
  width: 400px;
  height:100px;
}

.achive{
  font-size: 24px;
  color:#222222;
}
#achievement_n, #follow_n, #follower_n{
  font-size: 28px;
}

/* 保有ポイント */
.point, .point_n {
  display: block;
  font-size: 30px;
  margin-left: 0px;
}
.point {

}
.point_n {
  font-size: 50px;
}

/* ねり丸くん */
.get-icon-name {
  font-size: 25px;
  color:balck;
}

.icon_footer {
  padding: 30px;
}


