.content{
  padding: 5%;
  text-align: center;
}
/* ユーザ */
.user_icon_header {
  padding: 0px;
}

.user_icon {
  /*float: left;*/
}

#user_name{
  font-weight: 500;
}

#user_name, .user_value {
  font-size: 32px;
  line-height: 32px;
  padding: 10px;
}
.user_value {
  color:#FF0461;
}

/* マッチング */
#value_box {
  height:100px;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px black;
  border-radius: 8px;
  background-color: white;
}

.achive{
  font-size: 18px;
  color:#222222;
}
#achievement_n, #follow_n, #follower_n{
  font-size: 28px;
}

/* 保有ポイント */
.point, .point_n {
  display: block;
  font-size: 1.6em;
  line-height: 1.6em;
  margin-left: 0px;
}
.point_box {
  margin: 10px auto;
}

/* ねり丸くん */
.get-icon-name {
  font-size: 25px;
  color:black;
}
.get-icon-img {
  width:120px;
}

table {
  width: 100%;
  border-collapse:separate;
}

.label{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 12px;;
  border-radius: 16px;
}